# Dependencies
node_modules/

# Next.js
.next/
out/

# Env & local
.env
.env.local
.env.*.local

# Debug / OS
npm-debug.log*
.DS_Store
Thumbs.db

# Test / coverage
coverage/
*.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Misc
*.pem
